body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #8761fc, #5ddee6);
    margin: 0;
}

.starters-image {
    max-width: 250px;
    height: auto;
  
}

.login-container {
    background-color: #fff;
    padding: 40px 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}

.alert {
    background-color: #ff4d4d;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box; 
}

.input-group input:focus {
    border-color: #8761fc;
    box-shadow: 0 0 5px rgba(135, 97, 252, 0.4);
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #8761fc;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #5ddee6;
}
